<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="90" alt="logo">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;">Angular & TypeScript Quiz!</h4>
                <span style="font-style: italic;">Welcome {{name}}</span>
            </div>
        </div>

        <ng-container *ngIf="!isQuizCompleted">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} Points</h5>
                </div>
                <div class="question-remain">
                    <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
                </div>
                <div class="timer">
                    <h5>{{counter}} sec ⏱</h5>
                </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="question">
                <div class="card">
                    <h3>{{questionList[currentQuestion]?.questionText}}</h3>
                </div>
            </div>
            <div class="options">
                <ol *ngFor="let option of questionList[currentQuestion]?.options">
                    <li (click)="answer(currentQuestion+1,option)">
                        <div appChangeBg [isCorrect]="option.correct" class="card">
                            {{option.text}}
                        </div>
                    </li>

                </ol>
            </div>
            <div class="d-flex justify-content-between">
                <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i></button>
                <button class="btn" (click)="resetQuiz()"><i class="fa fa-refresh text-primary fa-3x" aria-hidden="true"></i></button>
                <button class="btn" (click)="nextQuestion()"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i></button>
            </div>
        </ng-container>

        <ng-container *ngIf="isQuizCompleted">
            <div class="row d-flex justify-content-between">
                <img style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">
                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulations!! <br>You have completed the quiz. <br>Below is your result:</h3>
                    <p>Total Question Attempted : {{questionList.length}} </p>
                    <p>Total Correct Answered : {{correctAnswer}} </p>
                    <p>Total Wrong Answered : {{inCorrectAnswer}} </p>
                    <p>Your Score : {{points}} Points </p>
                </div>
            </div>
        </ng-container>

    </div>
</div>